[bumpversion]
current_version = 0.4.5
commit = True
tag = True

[bumpversion:file:./pyproject.toml]

[bumpversion:file:./docs/conf.py]

[bumpversion:file:./README.md]

[bumpversion:file:./src/kfactory/__init__.py]
