[submodule "tests/gdsfactory-yaml-pics"]
	path = tests/gdsfactory-yaml-pics
	url = git@github.com:/gdsfactory/gdsfactory.git
	branch = main
[submodule "tests/test_data"]
	path = tests/test_data
	url = git@github.com:/gdsfactory/kfactory-test-data.git
	branch = main
