*.txt
*.ports
*.json
*.7z
*.tar
*.zip
.idea
Pipfile
docs/_build/
site/

# Packages
*.egg
*.egg-info
*.swp
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
env
venv
docs/site
_version.py

# Installer logs
pip-log.txt
extra/
docs/_autosummary
docs/modules

# ipython
.ipynb_checkpoints
*.ipynb


demo.gds
