repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: a41c4b94b220171e928ff3e6c9bef34e71267f46
  #   hooks:
  #     - id: check-yaml
  #       exclude: ^(conda\.recipe/meta\.yaml|conda_build/templates/.*\.yaml|docs/click/meta\.yaml|conda/meta\.yaml|construct.yaml)
  #     - id: end-of-file-fixer
  #     - id: trailing-whitespace
  #     - id: requirements-txt-fixer
  # - repo: https://github.com/hakancelikdev/unimport
  #   rev: 33ead41ee30f1d323a9c2fcfd0114297efbbc4d5
  #   hooks:
  #     - id: unimport
  #       args: [--remove, --include-star-import]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: src/kfactory/.*
        args: [--profile, black, --filter-files]

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  # - repo: https://github.com/omnilib/ufmt
  #   rev: v2.0.0b1
  #   hooks:
  #     - id: ufmt
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==22.3.0]
  # - repo: https://github.com/pycqa/flake8
  #   rev: 647996c743f9e77368ce46cc74abe98549dd4c3a
  #   hooks:
  #     - id: flake8
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        files: .ipynb

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args: ["-L TE,TE/TM,te,ba,FPR,fpr_spacing,ro,nd,donot,schem"]

  # - repo: https://github.com/shellcheck-py/shellcheck-py
  #   rev: 98854f809ca9d0e235c0bd5c0ad5e986e02120a4
  #   hooks:
  #     - id: shellcheck

  # - repo: https://github.com/pre-commit/pygrep-hooks
  #   rev: 77c4a0f2d3edd699ff7c2c5e430d46cd85358768 # Use the ref you want to point at
  #   hooks:
  #     - id: python-use-type-annotations

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [--exit-zero]
        # ignore all tests, not just tests data
        exclude: ^tests/
  # - repo: https://github.com/PyCQA/pylint
  #   rev: v2.14.1
  #   hooks:
  #     - id: pylint
  #       args: [--exit-zero]
  # - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  #   rev: 6565d773ca281682d7062d4c0be74538cc474cc9
  #   hooks:
  #     - id: pretty-format-java
  #       args: [--autofix]
  #     - id: pretty-format-kotlin
  #       args: [--autofix]
  #     - id: pretty-format-yaml
  #       args: [--autofix, --indent, "2"]
  # - repo: https://github.com/adrienverge/yamllint.git
  #   rev: v1.21.0 # or higher tag
  #   hooks:
  #       - id: yamllint
  #         args: [--format, parsable, --strict]
  # - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  #   rev: 0.1.0 # or specific tag
  #   hooks:
  #       - id: yamlfmt
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        entry: bash -c 'mypy --strict -p kfactory'
        verbose: true
        always_run: true
        # args:
        #   - "--namespace-packages"
        #   - "--explicit-package-bases"
        #   - "-p kfactory"
        # exclude: ^(docs/|example-plugin/|tests/fixtures)
        # files: ^src/kfactory
        # additional-dependencies:
        #   [types-cachetools]
  # - repo: https://github.com/terrencepreilly/darglint
  #   rev: master
  #   hooks:
  #       - id: darglint
  #
  # - repo: https://github.com/pycqa/pydocstyle
  #   rev: "a6fe4222012e990042c86cdaaa904a8d059752ee"
  #   hooks:
  #       - id: pydocstyle
  # - repo: https://github.com/asottile/reorder_python_imports
  #   rev: 2b2f0c74acdb3de316e23ceb7dd0d7945c354050
  #   hooks:
  #     - id: reorder-python-imports

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: python-check-blanket-noqa
      # - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-no-eval
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
