[build-system]
requires = ["setuptools>=60", "wheel", "build", "setuptools_scm[toml]>=7.1"]
build-backend = "setuptools.build_meta"

[project]
name = "kfactory"
description = "KLayout API implementation of gdsfactory"
readme = "README.md"
classifiers = [
	"Programming Language :: Python :: 3.10",
	"Operating System :: OS Independent",
]
requires-python = ">=3.10"


version = "0.6.3"
authors = [
    {name = "gdsfactory community", email = "contact@gdsfactory.com"},
]
dependencies = [
	"klayout >= 0.28.3",
	"scipy",
	"ruamel.yaml",
	"cachetools >= 5.2.0",
  "pydantic",
	"loguru",
	"tomli",
]

[project.optional-dependencies]
dev = [
	"black>=23",
	"mypy",
	"pre-commit",
	"gitpython",
	"pylsp-mypy",
	"python-lsp-server[all]",
	"python-lsp-ruff",
	"types-cachetools",
	"python-lsp-black",
]
docs = [
	"sphinx",
	"docutils==0.17.1",
	"sphinx_rtd_theme",
	"sphinxcontrib-video",
	"sphinx-autodoc-typehints",
	"sphinx-book-theme>=0.3.3",
	"sphinx-click",
	"sphinx-copybutton",
	"sphinx-markdown-tables",
	"myst-parser",
	"matplotlib",
	"nbsphinx",
	"autodoc_pydantic",
	"jupytext",
	"jupyter",
	"kfactory[ipy]",
]
ci = [
	"flake8",
	"flake8-pyproject",
	"pytest",
	"pytest_regressions",
	"mypy",
	"types-cachetools",
]
ipy = [
	"ipython",
	"ipywidgets",
	"ipytree",
	"ipyevents",
]


[tool.setuptools.packages.find]
where = ["src"]

[tool.black]
line-length = 88  # Specify the line length
target-version = ['py310']  # Specify your Python version
include = '\.pyi?$'
exclude = '''  # Specify the files/dirs that should be ignored by the black formatter
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | env
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.mypy]
python_version = "3.10"
strict = true
exclude = [
	"tests",
	"src/kfactory/widgets",
]

[tool.pylsp-mypy]
enabled = true
live_mode = true
strict = true

[[tool.mypy.overrides]]
module = "kfactory"
implicit_reexport = true

[tool.isort]
multi_line_output = 3
line_length = 88
include_trailing_comma = true
skip = ["kfactory/__init__.py"]

[tool.pytest.ini_options]
testpaths = ["src", "tests"]
addopts = '--tb=short'
norecursedirs = ["extra/*.py"]

[tool.flake8]
max-line-length = 88
max-complexity = 45
select = ["B","C","E","F","W","T4","B9"]
ignore = ["E501", "E503", "E722", "W503", "W503", "E203", "B950", "B902"]

extend-ignore = ["RST303"]

exclude = [
    ".git",
    "__pycache__",
    "docs/source/conf.py",
    "build",
    "dist",
    ".ipynb_checkpoints",
    ".tox",
    "extra",
    "deprecated",
    "gdslib",
    ".tox",
    ".mypy_cache",
]

[tool.pydocstyle]
[pydocstyle]
inherit = false
match = '(?!test).*\.py'
add-ignore = ["D100","D101","D102","D103","D104","D203","D405","D417"]
convention = "google"


[tool.doc8]
ignore-path=["docs/build/html","docs/notebooks/build","cache"]
max-line-length=99
verbose=1
ignore-path-errors="/tmp/other_thing.rst;D001;D002"

[tool.yapf]
based_on_style = "google"
allow_multiline_lambdas = true

[tool.coverage.run]
omit = "**/test_*.py"

[tool.coverage.html]
directory = "_build/coverage_html_report"

[tool.codespell]
ignore-words-list = "euclidian,TE,TE/TM,te,ba,FPR,fpr_spacing,ro,nd,donot,schem"
skip = "pyproject.toml"

[tool.ruff]
line-length = 88
src = ["src"]
select = [
  "E",   # pycodestyle
  "F",   # pyflakes
  "UP",  # pyupgrade
  "D",   # pydocstyle
]

[tool.ruff.pydocstyle]
convention = "google"
