site_name: KFactory
repo_url: https://github.com/gdsfactory/kfactory
site_url: https://gdsfactory.github.io/kfactory
docs_dir: source

nav:
  - Home:
    - Intro: index.md
    - gdsfactory.md
    - dosdonts.md
  - First Steps:
    - Prerequisites: pre.md
    - 5min Intro to KFactory: intro.md
  - Tutorials:
    - Basice Geometry in KLayout: notebooks/00_geometry.py
    - KCell & Instance: notebooks/01_references.py
    - DRC utils: notebooks/02_DRC.py
    - Enclosures: notebooks/03_Enclosures.py
    - Multiple KCLs: notebooks/04_KCL.py
  - Config Class: config.md
  - API: reference/
  - Changelog: changelog.md
theme:
  name: "material"
  features:
    - navigation.tabs
    - navigation.tabs.sticky
  custom_dir: overrides

  palette:
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
   # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
watch:
  - ../src/kfactory

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.tabbed
  - pymdownx.emoji
  - pymdownx.snippets:
      check_paths: true

plugins:
  - mkdocstrings:
      enabled: true
      # custom_templates: templates
      default_handler: python
      handlers:
        python:
          options:
            show_source: true
            allow_inspection: true
            docstring_style: google
            # ignore_init_summary: true
            separate_signature: true
            show_signature_annotations: true
            preload_modules:
              - klayout.db
              - klayout.lay
            members_order: alphabetical
  - gen-files:
      scripts:
        - source/gen_ref_pages.py
  - mkdocs-video:
      is_video: true
      video_type: webm
      video_muted: true
  - search
  - mkdocs-jupyter:
      include_source: true
      # ignore_h1_titles: true
      include_requirejs: true
      execute: true
      allow_errors: false
      kernel_name: python3
      execute_ignore:
        - "source/*.py"
      ignore: ["source/*.py"]
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
