name: code coverage

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
          - "3.13"
        os: [ubuntu-latest]
    steps:
      - name: Install graphviz
        shell: bash -l {0}
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt install graphviz graphviz-dev
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - uses: extractions/setup-just@v3
      - name: Test coverage
        run: just cov ${{ matrix.python-version }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
